.grid-display-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: .3s;
}

.grid-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media(max-width: 750px) {
    .grid-display-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
