@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300');
@import '../components/GridDisplay/grid-display.css';
@import '../components/ParallaxEffect/parallax-effect.css';
@import './about.css';
@import './contact.css';
@import './gallery.css';

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  color: #333;
}
.fade-out {
  opacity: 0;
  transform: translateY(1em);
}
.fade-in {
  animation: fade-in 1s linear normal forwards;
}
.page-content {
  width: 85vw;
  margin: 0 auto;
  background-color: #eee;
  transition: .3s;
}
.page-content.about {
  background-color: #EABBBE;
}
.page-content.contact {
  background-color: #c2a3db;
}
.page-content main {
  padding: 5em;
  min-height: 10vh;
}
main h1 {
  text-align: center;
  margin: 0 auto;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 100;
}
main hr {
  margin: 1em 0 0;
}
.page-navigation {
  display: flex;
  padding: 1em 0;
  width: 100%;
  justify-content: center;
  text-align: center;
}
.page-navigation li {
  list-style-type: none;
  padding: 0 1em;
}
.page-navigation li a {
  color: inherit;
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none;
  position: relative;
}
.page-navigation li a:after {
  content: '';
  display: block;
  border-bottom: 1px solid;
  width: 0;
  position: absolute;
  left: 0;
  transition: .3s ease;
}
.page-navigation li a:hover:after { 
  width: 100%; 
}
.page-navigation li a.active:after { 
  width: 100%; 
}
footer {
  position: absolute;
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 0.5em;
  font-size: 0.8em;
  text-transform: uppercase;
  display: flex;
  width: 85vw;
  justify-content: space-evenly;
}
footer a {
  color: inherit;
  text-decoration: none;
  letter-spacing: 0.1em;
}
@media(max-width: 750px) {
  .page-content main {
    padding: 2em;
  }
}