@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Notable');
@import '../components/GridDisplay/grid-display.css';
@import '../components/ParallaxEffect/parallax-effect.css';

.page-content {
  width: 85vw;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #eee;
}
.page-content header {
  padding: 5em;
  min-height: 10vh;
}
header h1 {
  text-align: center;
  margin: 0 auto;
  font-family: 'EB Garamond', serif;
  font-weight: 100;
}