body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #000; 
}

::-webkit-scrollbar-thumb {
  background: #eee; 
}

::-webkit-scrollbar-thumb:hover {
  background: #ddd; 
}
