@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import './components/GridDisplay/grid-display.css';

.page-content {
  width: 85vw;
  min-height: 100vh;
  margin: 0 auto;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  background-color: #eee;
}
.page-content header {
  padding: 5em;
  min-height: 10vh;
}
header h1 {
  text-align: center;
  margin: 0 auto;
  font-family: 'EB Garamond', serif;
  font-weight: 100;
}